In [1]:
import sqlite3

In [2]:
def newLine():
    print("")

def printTable(cursor):
    keys = []
    listOfRows = []
    #speichere Rows in Liste und speichere keys in keys um weiter damit arbeiten zu können
    for row in cursor:
        keys = row.keys()
        listOfRows.append(list(row))
    #Minimum length required for column
    length = [len(key) for key in keys]
    #bestimme max length von jedem column
    for row in listOfRows:
        for i in range(len(length)):
            if len(str(row[i])) > length[i]:
                length[i] = len(str(row[i]))
    #"Puffer" (für ein Leerzeichen zwischen den columns)
    length = [i+1 for i in length]
    #print "Überschriften" / "column-Titel (die Namen der Keys)"
    for i in range(len(keys)):
        print(str(keys[i]).rjust(length[i]," "), end="")
    newLine()
    #Seperierungszeile zwischen Keynamen und Daten
    print("-",end="")
    for i in range(len(length)):
        print("-"*(length[i]-1), end=" ")
    newLine()
    #Printe alle Daten (in Tabellenform)
    for row in listOfRows:
        for i in range(len(length)):
            print(row[i].rjust(length[i]," "), end="")
        newLine()

In [3]:
con = sqlite3.connect(":memory:")
con.execute("PRAGMA foreign_keys=ON")
con.row_factory = sqlite3.Row
cursor = con.cursor()

try:
    con.execute(
        "CREATE TABLE IF NOT EXISTS user(username TEXT NOT NULL, reg_Date TEXT, password_hash TEXT, PRIMARY KEY (username))"
    )
    con.commit()
except:
    con.rollback()

try:
    con.execute(
        "CREATE TABLE IF NOT EXISTS video (videoID INTEGER NOT NULL, videoTitle TEXT, uploadDate TEXT, username TEXT, PRIMARY KEY (videoID), FOREIGN KEY (username) REFERENCES user)"
    )
    con.commit()
except:
    con.rollback()

try:
    con.execute(
        "CREATE TABLE IF NOT EXISTS comments (cID INTEGER NOT NULL, text TEXT, timestamp TEXT, username TEXT NOT NULL,  videoID INTEGER NOT NULL, parentID INTEGER, PRIMARY KEY (cID), FOREIGN KEY (parentID) REFERENCES comments, FOREIGN KEY (username) REFERENCES user, FOREIGN KEY (videoID) REFERENCES video)"
    )
    con.commit()
except:
    con.rollback()

try:
    con.execute(
        "CREATE TABLE IF NOT EXISTS views (viewID INTEGER NOT NULL, videoID INTEGER NOT NULL, viewDate TEXT, username TEXT NOT NULL, PRIMARY KEY (viewID), FOREIGN KEY (videoID) REFERENCES video, FOREIGN KEY (username) REFERENCES user)"
    )
    con.commit()
except:
    con.rollback()

In [4]:
try:
    con.execute("INSERT INTO user VALUES('dingbat', '2021-01-04', '#FF12A9')")
    con.commit()
except:
    con.rollback()

try:
    con.execute("INSERT INTO user VALUES('brangdag', '2021-01-04', '#614D3E')")
    con.commit()
except:
    con.rollback()

try:
    con.execute("INSERT INTO user VALUES('gigecon', '2021-01-05', '#899FF2')")
    con.commit()
except:
    con.rollback()

try:
    con.execute("INSERT INTO user VALUES('nico234', '2021-01-06', '#003BC1')")
    con.commit()
except:
    con.rollback()
    
try:
    con.execute("INSERT INTO user VALUES('senftorte', '2021-01-06', '#113B81')")
    con.commit()
except:
    con.rollback()

try:
    con.execute("INSERT INTO user VALUES('honeypot', '2021-01-06', '#343321')")
    con.commit()
except:
    con.rollback()
    
try:
    con.execute("INSERT INTO user VALUES('zoomfish', '2021-01-06', '#17EECD')")
    con.commit()
except:
    con.rollback()
    
    
try:
    con.execute("INSERT INTO video (videoTitle, uploadDate, username) VALUES('my cat watches videos', '2021-01-04', 'dingbat')")
    con.commit()
except:
    con.rollback()
    
try:
    con.execute("INSERT INTO video (videoTitle, uploadDate, username) VALUES('in soviet russia videos watch your cat', '2021-01-05', 'gigecon')")
    con.commit()
except:
    con.rollback()

try:
    con.execute("INSERT INTO video (videoTitle, uploadDate, username) VALUES('introduction to machine learning (1)', '2021-01-06', 'senftorte')")
    con.commit()
except:
    con.rollback()
    
try:
    con.execute("INSERT INTO video (videoTitle, uploadDate, username) VALUES('introduction to machine learning (2)', '2021-01-06', 'senftorte')")
    con.commit()
except:
    con.rollback()
    
try:
    con.execute("INSERT INTO video (videoTitle, uploadDate, username) VALUES('honigkuchen backen', '2021-01-06', 'honeypot')")
    con.commit()
except:
    con.rollback()

    
    
try:
    con.execute("INSERT INTO views (videoID, viewDate, username) VALUES(1, '2021-01-05', 'brangdag')")
    con.commit()
except:
    con.rollback()

try:
    con.execute("INSERT INTO views (videoID, viewDate, username) VALUES(1, '2021-01-05', 'brangdag')")
    con.commit()
except:
    con.rollback()
    
try:
    con.execute("INSERT INTO views (videoID, viewDate, username) VALUES(1, '2021-01-05', 'brangdag')")
    con.commit()
except:
    con.rollback()
    
try:
    con.execute("INSERT INTO views (videoID, viewDate, username) VALUES(2, '2021-01-06', 'brangdag')")
    con.commit()
except:
    con.rollback()
    
try:
    con.execute("INSERT INTO views (videoID, viewDate, username) VALUES(2, '2021-01-06', 'dingbat')")
    con.commit()
except:
    con.rollback()
    
try:
    con.execute("INSERT INTO views (videoID, viewDate, username) VALUES(2, '2021-01-06', 'honeypot')")
    con.commit()
except:
    con.rollback()
    
try:
    con.execute("INSERT INTO views (videoID, viewDate, username) VALUES(1, '2021-01-06', 'senftorte')")
    con.commit()
except:
    con.rollback()
    
try:
    con.execute("INSERT INTO views (videoID, viewDate, username) VALUES(5, '2021-01-07', 'nico234')")
    con.commit()
except:
    con.rollback()
    
try:
    con.execute("INSERT INTO views (videoID, viewDate, username) VALUES(5, '2021-01-07', 'dingbat')")
    con.commit()
except:
    con.rollback()

    
    
try:
    con.execute("INSERT INTO comments (text, timestamp, username, videoID) VALUES('LOL', '2021-01-05', 'brangdag', 1)")
    con.commit()
except:
    con.rollback()
    
try:
    con.execute("INSERT INTO comments (text, timestamp, username, videoID) VALUES('lecker!', '2021-01-07', 'gigecon', 5)")
    con.commit()
except:
    con.rollback()
    
try:
    con.execute("INSERT INTO comments (text, timestamp, username, videoID) VALUES('find ich auch', '2021-01-07', 'dingbat', 5)")
    con.commit()
except:
    con.rollback()

    
    
try:
    con.execute("INSERT INTO comments (text, timestamp, username, videoID, parentID) VALUES('srsly? nobody?', '2021-01-05', 'brangdag', 1, 1)")
    con.commit()
except:
    con.rollback()
    
try:
    con.execute("INSERT INTO comments (text, timestamp, username, videoID, parentID) VALUES('@brangdag nope', '2021-01-06', 'nico234', 1, 4)")
    con.commit()
except:
    con.rollback()

In [5]:
try:
    con.execute("INSERT INTO user (username) VALUES('senftorte')")
    con.commit()
except:
    con.rollback()

# wird nicht hinzugefügt, man landet im except-Block (IntegrityError: UNIQUE constraint failed: user.username wenn 
# die try/except Struktur weggelassen wird)

In [6]:
cursor.execute("SELECT videoTitle, uploadDate FROM video WHERE videoTitle LIKE '%cat%'")

printTable(cursor)

                             videoTitle uploadDate
--------------------------------------- ----------
                  my cat watches videos 2021-01-04
 in soviet russia videos watch your cat 2021-01-05

In [7]:
cursor.execute("SELECT COUNT(videoTitle) FROM video WHERE videoTitle LIKE '%introduction%'")
print(cursor.fetchall()[0][0], "Videotitel enthalten das Wort 'introduction'.")

2 Videotitel enthalten das Wort 'introduction'.

In [8]:
cursor.execute("SELECT videoTitle, viewDate FROM video, views WHERE video.videoID = views.videoID AND views.username LIKE 'dingbat'")

printTable(cursor)

                             videoTitle   viewDate
--------------------------------------- ----------
 in soviet russia videos watch your cat 2021-01-06
                     honigkuchen backen 2021-01-07

In [9]:
cursor.execute("SELECT username, uploadDate FROM video WHERE video.videoID IN (SELECT DISTINCT videoID FROM views WHERE views.username LIKE 'dingbat')")

printTable(cursor)

 username uploadDate
--------- ----------
  gigecon 2021-01-05
 honeypot 2021-01-06

In [10]:
cursor.execute("SELECT username, password_hash FROM user WHERE user.username IN (SELECT username FROM video WHERE video.videoID IN (SELECT DISTINCT videoID FROM views WHERE views.username LIKE 'dingbat'))")

printTable(cursor)

 username password_hash
--------- -------------
  gigecon       #899FF2
 honeypot       #343321

Da videoID und nicht der Titel des Videos der Primärschlüssel ist und der Titel nicht als UNIQUE definiert wurde funktioniert das Hinzufügen ohne Probleme. Es ist nicht sinnvoll in diesem Bezug den Videotitel mit einem UNIQUE constraint zu versehen, da es durchaus häufiger auf Videosharing-Plattformen dazu kommen kann, dass Nutzer Videos mit gleichem Titel hochladen möchten.

In [11]:
try:
    con.execute("INSERT INTO video (videoTitle, uploadDate, username) VALUES('my cat watches videos', '2021-01-06', 'brangdag')")
    con.commit()
except:
    con.rollback()
    
try:
    con.execute("INSERT INTO video (videoTitle, uploadDate, username) VALUES('my cat watches videos', '2021-01-06', 'senftorte')")
    con.commit()
except:
    con.rollback()

In [12]:
cursor.execute("SELECT username, password_hash FROM user WHERE user.username IN (SELECT username FROM video WHERE video.videoID IN (SELECT DISTINCT videoID FROM views WHERE views.username LIKE 'dingbat'))")

printTable(cursor)

 username password_hash
--------- -------------
  gigecon       #899FF2
 honeypot       #343321

In [13]:
cursor.close()
con.close()